.header {
  background: var(--accent-color);
  padding: 0.5em 2em;
  color: var(--text-accent-button-color);
}
.logoContainer {
  gap: 0.5em;
}
.logoContainer.centered {
  margin-left: auto;
  margin-right: auto;
}
.logoText {
  font-size: calc(16px + 8 *((100vw - 320px)/960));
  align-self: self-end;
  white-space: nowrap; /* чтобы текст не переносился */

}

.logoImage {
  height: clamp(40px, 5vw, 80px);
  width: auto;
}
