.custom-container{
    width:100%;
    border-radius: var(--border-radius-medium);
    box-shadow: var(--shadow-large);
    background-color: transparent;
    padding: var(--padding-medium);
    box-sizing: border-box;
}
.header-of-container{
    align-items: center;
}
@media(width<=425px){
    .custom-container{
        box-shadow: none;
        padding: 0;
    }
    .header-of-container{
        padding: 0 var(--padding-small);

    }
}