.card-container {
  display:flex;
  border-radius: var(--border-radius-medium);
  background-color: var(--back-ground-color-cards);
  width: 100%;
  height: 100%;
  gap:0.5em;
  padding: var(--padding-small);
  box-sizing: border-box;
  min-width: fit-content;

}
.friend-card {
  justify-content: space-between;
  align-items: center;
    border-radius: 0;
  min-height: var(--card-min-height-for-small);
  border-bottom:var(--border-basic)
}
.event-card {
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  box-shadow: var(--shadow-medium);
  min-height: var(--card-min-height-for-medium);
}
.event-information-card{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-medium);
  padding: var(--padding-small);
}
.event-card-compact{
  width: 100%;
  display:flex;
    transition: transform 0.2s ease;
  box-shadow: var(--shadow-medium);
  margin:0 auto;
  align-items: center;
  height: fit-content;
}
.participant-card {
  
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow:var(--shadow-small);
  align-items: center;
  padding-bottom: var(--padding-large);
}
.expense-card{
  width: 100%;
  display:flex;
  transition: transform 0.2s ease;
  box-shadow: var(--shadow-small);
  align-items:center;
  justify-content: space-between;
  height: fit-content;
}
.header-of-container {
  display: flex;
  justify-content: space-between;
}
.event-card:hover{
  transform: translateY(-8px);
}
.friend-card:hover{
border-bottom: var(--border-accent);
}

@media (width<=425px) {
  .event-card {
    min-height: var(--card-min-height-for-small);
  }
}
