:root{
    --accent-color:#597EF7;
    --accent-color-darker:#3a5dce;
    --basic-color:#D7D7DB;
    --basic-color-darker:#b7b7bf;
    --text-accent-button-color:white;
    --text-basic-button-color:#474343;
}