:root {
  --accent-color: #9381ff;
  --accent-color-darker: #6e5bda;
  --accent-color-dark: #1a0b6d;
  --accent-color-light: #f8f7ff;
  --basic-color: #d7d7db;
  --basic-color-darker: #b7b7bf;
  --text-accent-button-color: white;
  --back-ground-color-cards: white;
  --text-basic-button-color: #474343;
  --margin-middle-32: 32px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;
  --border-radius-padding: 20px;
  --padding-small: 8px;
  --padding-medium: 16px;
  --padding-large: 24px;
  --gap-small: 12px;
  --gap-medium: 30px;
  --max-height-participant-selector: 350px;
  --shadow-small: 0 0 6px #b7b7bf;
  --shadow-medium: 0 0 12px #b7b7bf;
  --shadow-large: 0 0 24px #b7b7bf;
  --card-min-height-for-medium: 150px;
  --card-min-height-for-small: 50px;
  --border-accent: solid 2px #9381ff;
  --border-accent-darker: solid 2px #503dbd;
  --border-basic: solid 2px #b7b7bf;
  --color-okay: #63d6a5;
  --color-okay-darker: #1e8b5c;
  --color-warning: #d93333;
  --color-warning-darker: #b42727;
  --width-round-buttons: 30px;
  --heigh-round-buttons: 30px;
}
