.search-wrapper {
  position: relative;
    width: 100%;      
  min-width: 0; 
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: var(--accent-color-darker)
}
